
      <form name"formdisciplina" class="formdisciplina formulario" action="http://localhost:5000/disciplina" method="POST">
        <div class="form-group">
         <label for="nome">Nome do Curso: </label>
         <input type="text" class="form-control" name="nome"
         ng-model="curso.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>

         <div ng-messages="formdisciplina.nome.$error" ng-if='formdisciplina.nome.$dirty'>
           <div ng-message="required" class="alert alert-danger">
             Por favor, preencha o campo nome!
           </div>
           <div ng-message="minlength" class="alert alert-info">
             O campo nome deve ter no mínimo 10 caracteres.
           </div>
         </div>
       </div>
       <div class="form-group">
         <label for="id_turno">Turno: </label>
         <input type="text" class="form-control" name="id_turno"
         ng-model="curso.id_turno" placeholder="ID turno" ng-required="true" ng-minlength="1">


         <div ng-messages="formdisciplina.id_turno.$error" ng-if='formdisciplina.id_turno.$dirty'>
           <div ng-message="required" class="alert alert-danger">
             Por favor, preencha o campo ID turno!
           </div>
         </div>
       </div>
       <input type= 'reset' name='limpar' value= 'Limpar' class="btn btn-secondary btn-lg btn-block">
           <button ng-click="cadastrar()" class="btn btn-dark btn-lg btn-block">Cadastrar</button>
      </form>
